/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: since 1990,dead
*/

@font-face {
    font-family: 'Unifont';
    src: local('Unifont'), url('./unifont.otf') format('opentype');
}

@font-face {
    font-family: 'Terminus';
    font-weight: normal;
    font-style: normal;
    src: local('Terminus (TTF)'), url('./terminus.ttf') format('truetype');
}

@font-face {
    font-family: 'Terminus';
    font-weight: bold;
    font-style: normal;
    src: local('Terminus (TTF) Bold'), url('./terminus-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Terminus';
    font-weight: normal;
    font-style: italic;
    src: local('Terminus (TTF) Italic'), url('./terminus-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Terminus';
    font-weight: bold;
    font-style: italic;
    src: local('Terminus (TTF) Bold Italic'), url('./terminus-bold-italic.ttf') format('truetype');
}

body {
    color: #fff;
    background-color: #000;
    margin: 16px 20%;
    font-size: 20px;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}


html,
body,
pre,
code,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
button {
    font-family: 'Terminus', 'Unifont', 'Courier New', monospace, sans-serif;
    -ms-interpolation-mode: linear !important;
        image-rendering: -webkit-optimize-contrast !important;
        image-rendering: -moz-crisp-edges !important;
        image-rendering: -o-pixelated !important;
        image-rendering: pixelated !important;
    font-smooth: never !important;
    -webkit-font-smoothing: none !important;
}

h3 {
    font-size: 1.25rem;
}

#nav {
    font-size: 0.95em;
    font-weight: bold;
}

a {
    color: #2244ff;
    text-decoration: none;
    border-bottom: 1px dotted #2244ff;
}

.navlink {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

#title {
    text-align: center;
}

.big {
    font-size: 1.1em;
}

.small {
    font-size: 0.9em;
}

ul,
li {
    list-style: square;
}

hint {
    border-bottom: 1px dotted #777;
}

hint:hover {
    cursor: help;
}

a:visited {
    opacity: 0.7
}

pre:not(#title) {
    background-color: #111;
    margin: 0 10%;

    padding: 16px;
}

.review {
    width: auto;
    height: 64px;
    margin: 7px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    -webkit-transition: background 0.75s ease!important;
    transition: background 0.75s ease!important;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}